In [1]:
import re # re --> Regular Expressions

Regular Expression Tool - https://regex101.com/

In [2]:
# to extract the lucky numbers
text='''
My lucky numbers are 3 and 7.
'''
pattern='\d'
matches=re.findall(pattern,text)
matches

['3', '7']

In [3]:
#Here my task is to extract the year
text='''
My name is sharath. I will complete my btech in 2024.
'''
pattern='\d{4}' #here '/d' indicates that integer and {4} indicates count of 4
matches=re.findall(pattern,text)
matches

['2024']

In [4]:
# to extract CFO number 
text='''
Elon musk's phone number is 9991116666, call him if you have any questions on dodgecoin. Tesla's revenue is 40 billion
Tesla's CFO number (999)-333-7777
'''
pattern='\(\d{3}\)-\d{3}-\d{3}'
# here '\' is used to before '(' and ')' in order use them as raw since they are special characters in regex. 
matches=re.findall(pattern,text)
matches

['(999)-333-777']

In [5]:
# to extract CFO number and phone number
text='''
Elon musk's phone number is 9991116666, call him if you have any questions on dodgecoin. Tesla's revenue is 40 billion
Tesla's CFO number (999)-333-7777
'''
pattern='\(\d{3}\)-\d{3}-\d{3}|\d{10}' #'|' -> or operater
matches=re.findall(pattern,text)
matches

['9991116666', '(999)-333-777']

In [6]:
#getting all the characters that are in given pattern
text='''
abcd;efah;ibk;lm-ncp;rds
'''
pattern='[abcd]'
matches=re.findall(pattern,text)
matches

['a', 'b', 'c', 'd', 'a', 'b', 'c', 'd']

In [7]:
#extracting all the characters
text='''
abcd;efah;ibkR
'''
pattern='[a-zA-Z]'
matches=re.findall(pattern,text)
matches

['a', 'b', 'c', 'd', 'e', 'f', 'a', 'h', 'i', 'b', 'k', 'R']

In [8]:
# getting all the continous character that are in given pattern
text='''
abcd;efah;ibk;lm-ncp;rds
'''
pattern='[abcde]+'
matches=re.findall(pattern,text)
matches

['abcd', 'e', 'a', 'b', 'c', 'd']

In [9]:
#getting all the characters that are not in given pattern
text="abcd;efah;ibk;lm-ncp;rds"
pattern='[^;-]' # excluding ';' and '-'
matches=re.findall(pattern,text)
matches

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'a',
 'h',
 'i',
 'b',
 'k',
 'l',
 'm',
 'n',
 'c',
 'p',
 'r',
 'd',
 's']

In [10]:
#getting all the continous characters excluding given pattern
text="abcd;efah;ibk;lm-ncp;rds"
pattern='[^;-]+' # excluding ';' and '-'
matches=re.findall(pattern,text)
matches

['abcd', 'efah', 'ibk', 'lm', 'ncp', 'rds']

In [11]:
# to extract notes
text = '''
Note 1 - Overview
Tesla, Inc. (“Tesla”, the “Company”, “we”, “us” or “our”) was incorporated in the State of Delaware on July 1, 2003. We design, develop, manufacture and sell high-performance fully electric vehicles and design, manufacture, install and sell solar energy generation and energy storage
products. Our Chief Executive Officer, as the chief operating decision maker (“CODM”), organizes our company, manages resource allocations and measures performance among two operating and reportable segments: (i) automotive and (ii) energy generation and storage.
Beginning in the first quarter of 2021, there has been a trend in many parts of the world of increasing availability and administration of vaccines
against COVID-19, as well as an easing of restrictions on social, business, travel and government activities and functions. On the other hand, infection
rates and regulations continue to fluctuate in various regions and there are ongoing global impacts resulting from the pandemic, including challenges
and increases in costs for logistics and supply chains, such as increased port congestion, intermittent supplier delays and a shortfall of semiconductor
supply. We have also previously been affected by temporary manufacturing closures, employment and compensation adjustments and impediments to
administrative activities supporting our product deliveries and deployments.
Note 2 - Summary of Significant Accounting Policies
Unaudited Interim Financial Statements
The consolidated balance sheet as of September 30, 2021, the consolidated statements of operations, the consolidated statements of
comprehensive income, the consolidated statements of redeemable noncontrolling interests and equity for the three and nine months ended September
30, 2021 and 2020 and the consolidated statements of cash flows for the nine months ended September 30, 2021 and 2020, as well as other information
disclosed in the accompanying notes, are unaudited. The consolidated balance sheet as of December 31, 2020 was derived from the audited
consolidated financial statements as of that date. The interim consolidated financial statements and the accompanying notes should be read in
conjunction with the annual consolidated financial statements and the accompanying notes contained in our Annual Report on Form 10-K for the year
ended December 31, 2020.
'''
pattern='Note \d - [^\n]+'
matches=re.findall(pattern,text)
matches

['Note 1 - Overview', 'Note 2 - Summary of Significant Accounting Policies']

In [12]:
# to extract only content of notes (note headings)
# to extract notes
text = '''
Note 1 - Overview
Tesla, Inc. (“Tesla”, the “Company”, “we”, “us” or “our”) was incorporated in the State of Delaware on July 1, 2003. We design, develop, manufacture and sell high-performance fully electric vehicles and design, manufacture, install and sell solar energy generation and energy storage
products. Our Chief Executive Officer, as the chief operating decision maker (“CODM”), organizes our company, manages resource allocations and measures performance among two operating and reportable segments: (i) automotive and (ii) energy generation and storage.
Beginning in the first quarter of 2021, there has been a trend in many parts of the world of increasing availability and administration of vaccines
against COVID-19, as well as an easing of restrictions on social, business, travel and government activities and functions. On the other hand, infection
rates and regulations continue to fluctuate in various regions and there are ongoing global impacts resulting from the pandemic, including challenges
and increases in costs for logistics and supply chains, such as increased port congestion, intermittent supplier delays and a shortfall of semiconductor
supply. We have also previously been affected by temporary manufacturing closures, employment and compensation adjustments and impediments to
administrative activities supporting our product deliveries and deployments.
Note 2 - Summary of Significant Accounting Policies
Unaudited Interim Financial Statements
The consolidated balance sheet as of September 30, 2021, the consolidated statements of operations, the consolidated statements of
comprehensive income, the consolidated statements of redeemable noncontrolling interests and equity for the three and nine months ended September
30, 2021 and 2020 and the consolidated statements of cash flows for the nine months ended September 30, 2021 and 2020, as well as other information
disclosed in the accompanying notes, are unaudited. The consolidated balance sheet as of December 31, 2020 was derived from the audited
consolidated financial statements as of that date. The interim consolidated financial statements and the accompanying notes should be read in
conjunction with the annual consolidated financial statements and the accompanying notes contained in our Annual Report on Form 10-K for the year
ended December 31, 2020.
'''
pattern='Note \d - ([^\n]+)' # anything inside the bracket is displayed
#pattern='Note \d - ([^\n]*)' --> valid
#'+' --> one or more and '*' --> zero or more
matches=re.findall(pattern,text)
matches

['Overview', 'Summary of Significant Accounting Policies']

In [13]:
# extracting Financial years including quarters
text = '''
The gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
In previous quarter i.e. FY2020 Q4 it was $3 billion. 
'''
pattern='FY\d{4} Q[1234]'
#pattern='FY\d{4} Q[1-4]' -->also valid
matches=re.findall(pattern,text)
matches

['FY2021 Q1', 'FY2020 Q4']

In [14]:
# extracting Financial years including quarters by handing case sensitivity
text = '''
The gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
In previous quarter i.e. fy2020 Q4 it was $3 billion. 
'''
pattern='FY\d{4} Q[1234]'
#pattern='FY\d{4} Q[1-4]' -->also valid
matches=re.findall(pattern,text,flags=re.IGNORECASE)
matches

['FY2021 Q1', 'fy2020 Q4']

In [15]:
# extracting Financial years including quarters excludiny 'FY'
text = '''
The gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
In previous quarter i.e. FY2020 Q4 it was $3 billion. 
'''
pattern='FY(\d{4} Q[1234])'
#pattern='FY\d{4} Q[1-4]' -->also valid
matches=re.findall(pattern,text)
matches

['2021 Q1', '2020 Q4']

In [16]:
text = '''
Tesla's gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion. 
In previous quarter i.e. FY2020 Q4 it was $3 billion.
'''
#pattern='\$[0-9.]+'
pattern='\$[\d.]+' # '\' is used since $ is a special character in regex
#pattern='\$[\d]+' --> it will not work with decimal values hence '.' also included
matches=re.findall(pattern,text)
matches

['$4.85', '$3']

In [19]:
# getting financial year and dollars
text = '''
Tesla's gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion. 
In previous quarter i.e. FY2020 Q4 it was $3 billion.
'''
pattern='FY([0-9]{4} Q[1-4])[^\$]+(\$[\d.]+)'
#'FY([0-9]{4} Q[1-4])'-->financial year 
#'[^\$]+' --> takes the pointer upto the '$'    
#'(\$[\d.]+)' --> billions
matches=re.findall(pattern,text)
matches

[('2021 Q1', '$4.85'), ('2020 Q4', '$3')]

In [24]:
#using 'search' function
text = '''
Tesla's gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion. 
In previous quarter i.e. FY2020 Q4 it was $3 billion.
'''
pattern='FY([0-9]{4} Q[1-4])[^\$]+(\$[\d.]+)'
#'FY([0-9]{4} Q[1-4])'-->financial year 
#'[^\$]+' --> takes the pointer upto the '$'    
#'(\$[\d.]+)' --> billions
matches=re.search(pattern,text)
matches.groups()

('2021 Q1', '$4.85')

findall() --> gives all the occurances       
search() --> gives only the first occurance

# Excercise

In [27]:
# get all the twitter handles
text = '''
Follow our leader Elon musk on twitter here: https://twitter.com/elonmusk, more information 
on Tesla's products can be found at https://www.tesla.com/. Also here are leading influencers 
for tesla related news,
https://twitter.com/teslarati
https://twitter.com/dummy_tesla
https://twitter.com/dummy_2_tesla
'''
pattern = 'twitter\.com\/([a-zA-Z0-9_]+)'
re.findall(pattern, text)

['elonmusk', 'teslarati', 'dummy_tesla', 'dummy_2_tesla']

In [37]:
#Extract Concentration Risk Types. It will be a text that appears after "Concentration Risk:", In below example, your regex should extract these two strings
text = '''
Concentration of Risk: Credit Risk
Financial instruments that potentially subject us to a concentration of credit risk consist of cash, cash equivalents, marketable securities,
restricted cash, accounts receivable, convertible note hedges, and interest rate swaps. Our cash balances are primarily invested in money market funds
or on deposit at high credit quality financial institutions in the U.S. These deposits are typically in excess of insured limits. As of September 30, 2021
and December 31, 2020, no entity represented 10% or more of our total accounts receivable balance. The risk of concentration for our convertible note
hedges and interest rate swaps is mitigated by transacting with several highly-rated multinational banks.
Concentration of Risk: Supply Risk
We are dependent on our suppliers, including single source suppliers, and the inability of these suppliers to deliver necessary components of our
products in a timely manner at prices, quality levels and volumes acceptable to us, or our inability to efficiently manage these components from these
suppliers, could have a material adverse effect on our business, prospects, financial condition and operating results.
'''
pattern = 'Concentration of Risk: ([^\n]+)'
#pattern = 'Concentration of Risk: ([a-zA-Z ]+)' --> valid
re.findall(pattern, text)

['Credit Risk', 'Supply Risk']

In [38]:
#Companies in europe reports their financial numbers of semi annual basis and you can have a document like this. To exatract quarterly and semin annual period you can use a regex as shown below
text = '''
Tesla's gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
BMW's gross cost of operating vehicles in FY2021 S1 was $8 billion.
'''
pattern = 'FY(\d{4} (?:S[1-4]|Q[1-4]))'
matches = re.findall(pattern, text)
matches

['2021 Q1', '2021 S1']

In [48]:
# getting financial year + quarter or semi + dollars
text = '''
Tesla's gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
BMW's gross cost of operating vehicles in FY2021 S1 was $8 billion.
'''
pattern = 'FY(\d{4} (?:S[1-4]|Q[1-4]))[^\$]+(\$[0-9.]+)'
matches = re.findall(pattern, text)
matches

[('2021 Q1', '$4.85'), ('2021 S1', '$8')]

# Regex in customer support

In [7]:
# get the order number
chat1='codebasics: Hello, I am having an issue with my order # 412889912'

pattern = 'order[^\d]*(\d*)'
#pattern = 'order[^\d]+(\d+)'
matches = re.findall(pattern, chat1)
matches

['412889912']

In [5]:
chat2='codebasics: I have a problem with my order number 412889912'
pattern = 'order[^\d]*(\d*)'
matches = re.findall(pattern, chat2)
matches

['412889912']

In [6]:
chat3='codebasics: My order 412889912 is having an issue, I was charged 300$ when online it says 280$'
pattern = 'order[^\d]*(\d*)'
matches = re.findall(pattern, chat3)
matches

['412889912']

In [3]:
#extracting mail id
text="my name is sharath chandra. My email id is sharathchandrachowdary123@gmail.com and my phone number is 9700002664"
pattern="[a-z0-9]+@gmail\.com"
matches=re.findall(pattern,text)
matches

['sharathchandrachowdary123@gmail.com']

# Regex for information extraction

In [61]:
text='''
Born	Elon Reeve Musk
June 28, 1971 (age 50)
Pretoria, Transvaal, South Africa
Citizenship	
South Africa (1971–present)
Canada (1971–present)
United States (2002–present)
Education	University of Pennsylvania (BS, BA)
Title	
Founder, CEO and Chief Engineer of SpaceX
CEO and product architect of Tesla, Inc.
Founder of The Boring Company and X.com (now part of PayPal)
Co-founder of Neuralink, OpenAI, and Zip2
Spouse(s)	
Justine Wilson
​
​(m. 2000; div. 2008)​
Talulah Riley
​
​(m. 2010; div. 2012)​
​
​(m. 2013; div. 2016)
'''

In [43]:
#extract name
pattern='Born\t([a-zA-Z ]*)'
#pattern='Born[^a-zA-Z]([a-zA-Z ]*)'
matches=re.findall(pattern,text)
matches

['Elon Reeve Musk']

In [46]:
#extract age
pattern='age (\d*)'
matches=re.findall(pattern,text)
matches

['50']

In [51]:
#get birth date
pattern='Born.*\n(.*)\(age'
matches=re.findall(pattern,text)
matches

['June 28, 1971 ']

In [52]:
#get birth place
pattern='age.*\n(.*)'
matches=re.findall(pattern,text)
matches

['Pretoria, Transvaal, South Africa']

In [59]:
#creating a function
def get_pattern_match(pattern,text):
    matches=re.findall(pattern,text)
    if matches:
        return matches[0]

In [60]:
get_pattern_match('Born.*\n(.*)\(age',text)

'June 28, 1971 '

In [68]:
def get_personal_information(text):
    name=get_pattern_match('Born\t([a-zA-Z ]*)',text)
    age=int(get_pattern_match('age (\d*)',text))
    birth_date=get_pattern_match('Born.*\n(.*)\(age',text)
    birth_place=get_pattern_match('age.*\n(.*)',text)
    education=get_pattern_match('Education\t(.*)',text)
    info={
        "Name":name,
        "Age":age,
        "Birth Date":birth_date,
        "Birth place":birth_place,
        "Education":education
    }
    return info

In [71]:
musk_info=get_personal_information(text)
musk_info

{'Name': 'Elon Reeve Musk',
 'Age': 50,
 'Birth Date': 'June 28, 1971 ',
 'Birth place': 'Pretoria, Transvaal, South Africa',
 'Education': 'University of Pennsylvania (BS, BA)'}

In [72]:
ambani_data='''
Born	Mukesh Dhirubhai Ambani
19 April 1957 (age 66)
Aden, Colony of Aden
(present-day Yemen)[1][2]
Nationality	Indian
Alma mater	
St. Xavier's College, Mumbai
Institute of Chemical Technology (B.E.)
Occupation(s)	Chairman and MD, Reliance Industries
Spouse	Nita Ambani ​(m. 1985)​[3]
Children	3
Parents	
Dhirubhai Ambani (father)
Kokilaben Ambani (mother)
Relatives	Anil Ambani (brother)
Tina Ambani (sister-in-law)
'''
get_personal_information(ambani_data)

{'Name': 'Mukesh Dhirubhai Ambani',
 'Age': 66,
 'Birth Date': '19 April 1957 ',
 'Birth place': 'Aden, Colony of Aden',
 'Education': None}