In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
data=pd.read_csv("House_Price.csv")

In [14]:
data

,Avg. Area Income,House Age,Number of Rooms,Number of Bedrooms,Area Population,Price,Address
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05,USNS Raymond\nFPO AE 09386
...,...,...,...,...,...,...,...
4543,84556.63627,5.092459,6.723412,2.42,31797.31744,1.326847e+06,"97160 Tracy Junction\nErinborough, WY 73884"
4544,82732.98111,5.332712,6.198476,3.49,41136.52722,1.252664e+06,"0630 Wilson Shoal\nNorth Philip, AK 91611"
4545,65694.05127,6.436741,6.704929,3.14,43406.71203,1.359763e+06,"PSC 2681, Box 5759\nAPO AA 82431-2879"
4546,76061.35071,7.148713,7.546066,6.30,40876.96459,1.778013e+06,"04117 Bennett Greens\nGonzalezfort, NJ 86640-8362"
4547,66935.47508,6.376390,8.513826,5.47,17573.61710,1.109059e+06,55454 M

In [16]:
#dropping address column
data.drop("Address",axis=1,inplace=True)
data

,Avg. Area Income,House Age,Number of Rooms,Number of Bedrooms,Area Population,Price
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05
...,...,...,...,...,...,...
4543,84556.63627,5.092459,6.723412,2.42,31797.31744,1.326847e+06
4544,82732.98111,5.332712,6.198476,3.49,41136.52722,1.252664e+06
4545,65694.05127,6.436741,6.704929,3.14,43406.71203,1.359763e+06
4546,76061.35071,7.148713,7.546066,6.30,40876.96459,1.778013e+06
4547,66935.47508,6.376390,8.513826,5.47,17573.61710,1.109059e+06

In [18]:
data.isna().sum()

Avg. Area Income      0
House Age             0
Number of Rooms       0
Number of Bedrooms    0
Area Population       0
Price                 0
dtype: int64

In [19]:
for column in data.columns:
    print(f"{column} :",data[column].dtype)

Avg. Area Income : float64
House Age : float64
Number of Rooms : float64
Number of Bedrooms : float64
Area Population : float64
Price : float64

In [22]:
data['Number of Rooms']=data['Number of Rooms'].apply(lambda x : int(x))

In [23]:
data['Number of Rooms'].dtype

dtype('int64')

In [24]:
data['Area Population']=data['Area Population'].apply(lambda x : int(x))

In [25]:
data['Area Population'].dtype

dtype('int64')

In [26]:
data['Number of Bedrooms']=data['Number of Bedrooms'].apply(lambda x : int(x))

In [27]:
data['Number of Bedrooms'].dtype

dtype('int64')

In [30]:
data['House Age']=data['House Age'].apply(lambda x : int(x))
data['House Age'].dtype

dtype('int64')

In [31]:
data

,Avg. Area Income,House Age,Number of Rooms,Number of Bedrooms,Area Population,Price
0,79545.45857,5,7,4,23086,1.059034e+06
1,79248.64245,6,6,3,40173,1.505891e+06
2,61287.06718,5,8,5,36882,1.058988e+06
3,63345.24005,7,5,3,34310,1.260617e+06
4,59982.19723,5,7,4,26354,6.309435e+05
...,...,...,...,...,...,...
4543,84556.63627,5,6,2,31797,1.326847e+06
4544,82732.98111,5,6,3,41136,1.252664e+06
4545,65694.05127,6,6,3,43406,1.359763e+06
4546,76061.35071,7,7,6,40876,1.778013e+06
4547,66935.47508,6,8,5,17573,1.109059e+06

In [36]:
data=data[data['Number of Rooms']>=data['Number of Bedrooms']]

In [37]:
data.shape

(4546, 6)

In [177]:
def remove_outliers(data):
    final_df=pd.DataFrame()
    grouped_rooms=data.groupby("Number of Rooms")
    for rooms,rooms_df in grouped_rooms:
        grouped_age=rooms_df.groupby("House Age")
        for age, age_df in grouped_age:
            min_cond=age_df.Price>=age_df.Price.mean()-3*age_df.Price.std()
            max_cond=age_df.Price<=age_df.Price.mean()+3*age_df.Price.std()
            sub_df=age_df[min_cond & max_cond]
            final_df=pd.concat([final_df,sub_df],ignore_index=True)
    return final_df

In [178]:
final_data=remove_outliers(data)

In [179]:
final_data.shape

(4525, 6)

In [180]:
x=final_data.drop("Price",axis=1)
x.shape

(4525, 5)

In [181]:
y=final_data['Price']
y.shape

(4525,)

In [182]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [192]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1)
model=LinearRegression()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.9027760106440035